@use "../../utils/variables" as v;

.list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 650px;
	gap: 30px;
	width: 100%;
	margin-top: 50px;
}
.card {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	transition: 0.5s;
	opacity: 1;
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 20px v.$shadow;
	display: flex;
	flex-direction: column;
	& img {
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		// border-radius: 10px;
		width: 100%;
		height: 80%;
		object-fit: cover;
		object-position: top center;
	}
	.description {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		bottom: 0px;
		transition: 0.5s ease;
		color: v.$colorText;
		width: 100%;
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 20%;
		& .typeAndYear {
			display: flex;
			gap: 10px;
		}
		& p {
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 14px;
			color: v.$colorText;
		}
		& h6 {
			font-weight: normal;
			font-size: 18px;
		}
		& .year {
			transition: 0.5s;
			// max-height: 0;
			// opacity: 0;
		}
		.buttons {
			display: flex;
			justify-content: space-between;
			button {
				background: v.$color3;
				color: white;
				border-radius: 100%;
				width: 36px;
				height: 36px;
				font-size: large;
				cursor: pointer;
			}
			a {
				background: v.$color3;
				color: v.$color1;
				padding: 10px 30px;
				border-radius: 5px;
				cursor: pointer;
				font-size: medium;
			}
			.buttonFunc {
				display: flex;
				gap: 10px;
				height: 36px;
				button:not(:last-child) {
					background: white;
					color: white;
					border-radius: 100%;
					width: 36px;
					height: 36px;
					font-size: large;
					cursor: pointer;
				}
				img {
					height: 100%;
				}
			}
		}
	}
}
